.header {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://sun9-79.userapi.com/FoOCC0sR5qFBH_qA_U9L6JH2OB7CxCGmizolTA/-SYasqzSOgE.jpg);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center center;

  & .btn {
    padding: 0;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center;
  }
  & .reload-btn {
    width: 80px;
    height: 80px;
    padding: 0;
    border: 2px solid var(--purple);
    border-radius: 50px;
  }

  & .basket-btn {
    width: 50px;
    height: 50px;
    border: 1px solid var(--purple);
    border-radius: 50px;
  }

  & .input-search {
    padding-left: 10px;
    flex-grow: 1;
    height: 30px;
    outline: none;
    font-size: 16px;
    color: var(--violet);
  }
}
